/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 834px) {

    /* ! header responsive */

.navigation {
    display: none;
}
.burgerbar {
    display: block;
}
.header-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.navigation.newNavigation {
    display: block;
}
.ul-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline-block;
    margin-top: 23px;
    border: 2px solid #F0F0F0;
    border-top: none;
    background-color: #fff;
    padding: 10px;
}

    /* ! section 1 responsive */

.sect1-img img {
    border-radius: 36.26px;
}
.claim {
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: normal;
}
.div-title h1 {
    font-size: 30px;
    line-height: normal;
}
.div-title p {
    margin-top: 8px;
    line-height: normal;
    font-size: 14px;
}
.bottom-child {
    width: 86px;
    height: 30px;
}
.bottom-child a {
    font-size: 10px;
    line-height: normal;
}

    /* ! section 2 responsive */

.sect2-head {
    margin-top: 56px;
}
.sect2-head-child2 {
    width: 132px;
}
.sect2-text h3 {
    line-height: normal;
    font-size: 32px;
}

    /* ! section 3 responsive */

.sect3-top h3 {
    line-height: normal;
    font-size: 32px;
}
.sect3-bg {
    padding-top: 56px;
    padding-bottom: 56px;
}

    /* ! section 4 responsive */

.sect4-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 32px;
}
.sect4-left-text {
    width: 100%;
}
.sect4-top-right {
    width: 100%;
}
.sect4-left-text h3 {
    font-size: 32px;
    line-height: normal;
}
.sect4-left-text p {
    margin-top: 12px;
}
.sect4-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sect4-bottom-img {
    width: 100%;
}
.sect4-bottom-right {
    width: 100%;
}
.sect4-right-text h3 {
    line-height: normal;
    font-size: 32px;
}

    /* ! section 5 responsive */

.sect5-left p {
    font-size: 20px;
    line-height: 30px;
}
.feature h3 {
    font-size: 32px;
    line-height: normal;
}
.feature-information-child h4 {
    font-size: 16px;
    line-height: 24px;
}

    /* ! section 6 responsive */

.sect6-bg {
    width: 80%;
}
.sect6-left {
    text-align: center;
}
.sect6-left p {
    font-size: 20px;
    line-height: 30px;
}
.sect6-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

    /* ! footer responsive */

.footer-title {
    margin-bottom: 10px;
}
.footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 12px;
}
}

@media (max-width: 899px) {

    /* ! footer responsive */
.footer-wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

}


@media (max-width: 393px) {
    
    /* ! section 1 responsive */

.div-title h1 {
    font-size: 24px;
}
.div-title p {
    margin-top: 4px;
    font-size: 10px;
}
.claim {
    font-size: 12px;
}
.bottom-child a {
    font-size: 10px;
}
.bottom-child {
    width: 100%;
    height: 20px;
}
.sect1-bottom {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 20px 10px 20px;
    grid-template-rows: 20px 20px;
    row-gap: 10px;
}

    /* ! section 2 responsive */

.sect2-head {
    margin-top: 26px;
}
.sect2-text h3 {
    font-size: 24px;
}
.sect2-text p {
    line-height: normal;
    font-size: 14px;
}

    /* ! section 3 responsive */

.sect3-top h3 {
    font-size: 24px;
    line-height: 34px;
}
.sect3-top p {
    line-height: normal;
    font-size: 14px;
}
.sect3-bg {
    padding-top: 32px;
    padding-bottom: 32px;
}

    /* ! section 4 responsive  */

.sect4-right-text p {
    font-size: 14px;
    margin-bottom: 24px;
}
.information-element p {
    font-size: 16px;
}

    /* ! section 5 responsive */

.sect5-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 84px;
}
.sect5-right {
    width: 100%;
}
.sect5-left {
    text-align: center;
}
.feature h3 {
    font-size: 24px;
    line-height: 34px;
}
.feature p {
    font-size: 14px;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 32px;
}
.feature-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sect6-left p {
    font-size: 16px;
    line-height: 24px;
}

    /* ! footer responsive */

.sect6-bg {
    width: 70%;
}
}